In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/cocktails.csv")

In [3]:
df.sample(5)

,name,category,row_id,ingredient_number,ingredient,measure
2632,Bolshoi Punch,Vodka,725,3,Simple Syrup,1/2 oz
2038,Dillatini,Cocktail Classics,563,2,Dry Vermouth,3/4 oz
3503,Bolero Cocktail,Cocktail Classics,954,3,Sweet Vermouth,1/4 oz
1050,Bourbon And Elder,Whiskies,297,3,Angostura Bitters,1 oz
2797,Parisian Blonde Cocktail,Cocktail Classics,772,3,Jamaica Rum,3/4 oz

In [5]:
df.head(5)

,name,category,row_id,ingredient_number,ingredient,measure
0,Gauguin,Cocktail Classics,1,1,Light Rum,2 oz
1,Gauguin,Cocktail Classics,1,2,Passion Fruit Syrup,1 oz
2,Gauguin,Cocktail Classics,1,3,Lemon Juice,1 oz
3,Gauguin,Cocktail Classics,1,4,Lime Juice,1 oz
4,Fort Lauderdale,Cocktail Classics,2,1,Light Rum,1 1/2 oz

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3643 entries, 0 to 3642
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               3643 non-null   object
 1   category           3643 non-null   object
 2   row_id             3643 non-null   int64
 3   ingredient_number  3643 non-null   int64
 4   ingredient         3643 non-null   object
 5   measure            3643 non-null   object
dtypes: int64(2), object(4)
memory usage: 170.9+ KB

In [7]:
len(df["name"].unique())

989

In [8]:
len(df["ingredient"].unique())

569

In [10]:
df["ingredient"].value_counts().head(10)

ingredient
Gin                  176
Fresh lemon juice    138
Simple Syrup         115
Vodka                114
Light Rum            113
Triple Sec           107
Dry Vermouth         107
Fresh Lime Juice     107
Powdered Sugar        90
Grenadine             85
Name: count, dtype: int64

In [13]:
df["measure"].sample(10).to_list()

['3/4 oz',
 '3/4 oz',
 '1/2 oz',
 '2 oz',
 '1/2 oz',
 '4 oz',
 '1/2 oz',
 '1/2 oz',
 '1/2 oz',
 '1 1/2 oz']

In [26]:
# Function to convert fluid ounces to milliliters
def convert_to_ml(measure):
    OZ_TO_ML = 29.5735
    
    # Split the measure by spaces and handle fractions manually
    parts = measure.replace('oz', '').strip().split()
    #print(parts)
    total_oz = 0
    for part in parts:
        try:
            total_oz += eval(part)
        except:
            continue
    return round(total_oz * OZ_TO_ML, 2)

# Apply the conversion to the measures column
df['measures_ml'] = df['measure'].apply(convert_to_ml)

In [39]:
top_ingredients = df["ingredient"].value_counts().head(10).index
df["ingredient"].value_counts().head(10).index

Index(['Gin', 'Fresh lemon juice', 'Simple Syrup', 'Vodka', 'Light Rum',
       'Triple Sec', 'Dry Vermouth', 'Fresh Lime Juice', 'Powdered Sugar',
       'Grenadine'],
      dtype='object', name='ingredient')

In [48]:
df.query("ingredient.isin(@top_ingredients)")\
    .groupby(["ingredient"])["measures_ml"]\
    .max()\
    .sort_values(ascending=False)

ingredient
Grenadine            118.29
Fresh Lime Juice      88.72
Gin                   88.72
Light Rum             88.72
Dry Vermouth          73.93
Fresh lemon juice     59.15
Powdered Sugar        59.15
Simple Syrup          59.15
Vodka                 59.15
Triple Sec            44.36
Name: measures_ml, dtype: float64

In [32]:
df.query("ingredient == 'Gin'").sort_values("measures_ml", ascending=False)

,name,category,row_id,ingredient_number,ingredient,measure,measures_ml
1672,Sake Martini (Sakini),Cocktail Classics,462,2,Gin,3 oz,88.72
375,Billy Taylor,Cocktail Classics,113,2,Gin,2 oz,59.15
300,Fog Horn,Cocktail Classics,89,3,Gin,2 oz,59.15
2091,New Orleans Gin Fizz,Cocktail Classics,575,5,Gin,2 oz,59.15
177,Monte Carlo Imperial Highball,Cocktail Classics,51,1,Gin,2 oz,59.15
...,...,...,...,...,...,...,...
1844,Long Island Tea,Cocktail Classics,508,2,Gin,1/2 oz,14.79
1913,Green Opal,Cocktail Classics,528,1,Gin,1/2 oz,14.79
3300,Fog Cutter,Rum - Daiquiris,904,3,Gin,1/2 oz,14.79
2004,Favourite Cocktail,Cocktail Classics,553,4,Gin,1/4 oz,7.39
2250,Barton Special,Cocktail Classics,616,3,Gin,1/4 oz,7.39

In [49]:
df["category"].value_counts()

category
Cocktail Classics        1560
Vodka                     545
Whiskies                  457
Rum - Daiquiris           437
Tequila                   371
Brandy                    169
Gin                        67
Cordials and Liqueurs      24
Shooters                    6
Rum                         4
Non-alcoholic Drinks        3
Name: count, dtype: int64

In [55]:
df.query("category == 'Vodka'")["ingredient"].value_counts().head(10)

ingredient
Vodka                    100
Fresh lemon juice         41
Simple Syrup              34
Fresh Lime Juice          21
Citrus-flavored vodka     16
Triple Sec                12
White creme de cacao      10
Cranberry Juice            9
Pineapple Juice            9
Orange juice               8
Name: count, dtype: int64

In [58]:
df.query("category == 'Rum - Daiquiris'")["ingredient"].value_counts().head(10)

ingredient
Light Rum            70
Fresh Lime Juice     39
Simple Syrup         29
Fresh lemon juice    27
Dark rum             23
Angostura Bitters    17
Grenadine            17
Pineapple Juice      14
Triple Sec           14
Sweet Vermouth        8
Name: count, dtype: int64