In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/cocktails.csv")

In [3]:
df.sample(5)

,name,category,row_id,ingredient_number,ingredient,measure
2632,Bolshoi Punch,Vodka,725,3,Simple Syrup,1/2 oz
2038,Dillatini,Cocktail Classics,563,2,Dry Vermouth,3/4 oz
3503,Bolero Cocktail,Cocktail Classics,954,3,Sweet Vermouth,1/4 oz
1050,Bourbon And Elder,Whiskies,297,3,Angostura Bitters,1 oz
2797,Parisian Blonde Cocktail,Cocktail Classics,772,3,Jamaica Rum,3/4 oz

In [5]:
df.head(5)

,name,category,row_id,ingredient_number,ingredient,measure
0,Gauguin,Cocktail Classics,1,1,Light Rum,2 oz
1,Gauguin,Cocktail Classics,1,2,Passion Fruit Syrup,1 oz
2,Gauguin,Cocktail Classics,1,3,Lemon Juice,1 oz
3,Gauguin,Cocktail Classics,1,4,Lime Juice,1 oz
4,Fort Lauderdale,Cocktail Classics,2,1,Light Rum,1 1/2 oz

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3643 entries, 0 to 3642
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               3643 non-null   object
 1   category           3643 non-null   object
 2   row_id             3643 non-null   int64
 3   ingredient_number  3643 non-null   int64
 4   ingredient         3643 non-null   object
 5   measure            3643 non-null   object
dtypes: int64(2), object(4)
memory usage: 170.9+ KB

In [7]:
len(df["name"].unique())

989

In [8]:
len(df["ingredient"].unique())

569

In [10]:
df["ingredient"].value_counts().head(10)

ingredient
Gin                  176
Fresh lemon juice    138
Simple Syrup         115
Vodka                114
Light Rum            113
Triple Sec           107
Dry Vermouth         107
Fresh Lime Juice     107
Powdered Sugar        90
Grenadine             85
Name: count, dtype: int64

In [13]:
df["measure"].sample(10).to_list()

['3/4 oz',
 '3/4 oz',
 '1/2 oz',
 '2 oz',
 '1/2 oz',
 '4 oz',
 '1/2 oz',
 '1/2 oz',
 '1/2 oz',
 '1 1/2 oz']

In [26]:
# Function to convert fluid ounces to milliliters
def convert_to_ml(measure):
    OZ_TO_ML = 29.5735
    
    # Split the measure by spaces and handle fractions manually
    parts = measure.replace('oz', '').strip().split()
    #print(parts)
    total_oz = 0
    for part in parts:
        try:
            total_oz += eval(part)
        except:
            continue
    return round(total_oz * OZ_TO_ML, 2)

# Apply the conversion to the measures column
df['measures_ml'] = df['measure'].apply(convert_to_ml)

In [27]:
df

,name,category,row_id,ingredient_number,ingredient,measure,measures_ml
0,Gauguin,Cocktail Classics,1,1,Light Rum,2 oz,59.15
1,Gauguin,Cocktail Classics,1,2,Passion Fruit Syrup,1 oz,29.57
2,Gauguin,Cocktail Classics,1,3,Lemon Juice,1 oz,29.57
3,Gauguin,Cocktail Classics,1,4,Lime Juice,1 oz,29.57
4,Fort Lauderdale,Cocktail Classics,2,1,Light Rum,1 1/2 oz,44.36
...,...,...,...,...,...,...,...
3638,Vow Of Silence,Gin,990,2,Grapefruit Juice,3/4 oz,22.18
3639,Vow Of Silence,Gin,990,3,Fresh Lime Juice,1/2 oz,14.79
3640,Vow Of Silence,Gin,990,4,Yellow Chartreuse,1/2 oz,14.79
3641,Vow Of Silence,Gin,990,5,Amaro,1/4 oz,7.39
3642,Vow Of Silence,Gin,990,6,Simple Syrup,1/4 oz,7.39